<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%= @seo_keywords %>"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap" rel="stylesheet">
  <%= favicon_link_tag asset_path('favicon-32x32.png') %>

  <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'shared/blog_nav' %>

<div class="container">
  <div class="row">
    <%= yield %>
    <%= render 'blogs/side_bar' %>
  </div>
</div>

<%= source_helper("blog") %>

<%= render 'shared/blog_footer' %>

</body>
</html>
