<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%= @seo_keywords %>"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csp_meta_tag %>
  <%= favicon_link_tag asset_path('favicon-32x32.png') %>

  <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'portfolios/portfolio_nav' %>

<main role="main">

  <%= yield %>

</main>

<%= render 'portfolios/portfolio_footer' %>

<%= source_helper("application") %>
</body>
</html>
